<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.atguigu.springcloud.dao.PaymentDao">
    <!--keyProperty 主键 -->
    <insert id="add" parameterType="Payment" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO payment (serial) VALUES(${serial});
    </insert>

    <resultMap id="BaseResultMap" type="com.atguigu.springcloud.entities.Payment">
        <id column="id" property="id" javaType="LONG"/>
        <id column="serial" property="serial" javaType="STRING"/><!--javaType对应的数据库类型-->
    </resultMap>

    <select id="getPaymentById" parameterType="Long" resultMap="BaseResultMap">
        SELECT * FROM payment WHERE id =${id}
    </select>
</mapper>
